@page
@model FilmesCRUDRazor.Pages.Filmes.IndexModel

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Filmes Favoritos</h2>
            <p>
                <a class='btn btn-primary' asp-page="Create">
                    <i class="fas fa-plus"></i> Adicionar Filme
                </a>
            </p>
            <form>
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-left">Gêneros: </label>
                        <select class="form-control" asp-for="FilmePorGenero" asp-items="Model.Generos">
                            <option value="">Todos - Gêneros</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-left">Título do filme</label>
                        <input type="text" class="form-control" name="BuscaPorGeneroNome" />
                        <br />
                        <button class="btn btn-primary" type="submit" value="Filtrar">Filtrar</button>
                    </div>
                </div>
            </form>
            <div class="talbe-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Filme[0].Titulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Filme[0].DataLancamento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Filme[0].Genero)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Filme[0].Preco)
                            </th>
                            <th>
                                Ações
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Filme)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Titulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataLancamento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genero)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Preco)
                                </td>
                                <td>
                                    <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.FilmeId"><i class="far fa-edit"></i></a>
                                    <a class="btn btn-info" asp-page="./Details" asp-route-id="@item.FilmeId"><i class="fas fa-info-circle"></i></a>
                                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.FilmeId"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-left"></i></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
